<nav class="top-bar">
    <a href="/" class="nav-logo">
        <span>JAWS</span>
    </a>
    <div class="nav-button">
        <div>
            <a href="/pages/home.html">主頁</a>
        </div>
        <div>
            <a href="/pages/main.html">主要頁面</a>
        </div>
        <div>
            <a href="/pages/about.html">關於我們</a>
        </div>
        <div>
            <a href="/pages/contact.html">聯絡我們</a>
        </div>
        <div>
            <a href="/pages/feedback.html">反饋</a>
        </div>
    </div>
    <div class="signin-up-button">
        <span>
            <a href="/pages/sign_up.html">註冊</a>
            /
            <a href="/pages/sign_in.html">登入</a>
        </span>
    </div>
</nav>
