<nav class="top-bar">
    <a href="/" class="nav-logo">
        <span>JAWS</span>
    </a>
    <div class="nav-button">
        <div>
            <a href="#home">主頁</a>
        </div>
        <div>
            <a href="#main">主要頁面</a>
        </div>
        <div>
            <a href="#about">關於我們</a>
        </div>
        <div>
            <a href="#contact">聯絡我們</a>
        </div>
        <div>
            <a href="#feedback">反饋</a>
        </div>
    </div>
    <div class="signin-up-button">
        <span>
            <a href="#sign_up">註冊</a>
            /
            <a href="#sign_in">登入</a>
        </span>
    </div>
</nav>
